/*Global Styles*/
@import url('https://fontlibrary.org/face/junction');

body {
    font-weight: normal;
    font-style: normal;
}

.rgba-black-light {
    background-color: rgba(0, 0, 0, 0.35);
}

.rgba-black-strong {
    background-color: rgba(0, 0, 0, 0.75);
}

.shadow-xl {
    box-shadow: 0 1rem 2.5rem -0.8rem rgba(0, 0, 0, 0.56), 0 0.25rem 1.5rem rgba(0, 0, 0, 0.12), 0 0.5rem 0.75rem -0.3rem rgba(0, 0, 0, 0.2);
}

.section-content {
    padding: 4rem 0;
}

.divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.divider:before,
.divider:after {
    content: '';
    height: 2px;
    background: #666;
    flex: 1;
}

.divider:before {
    margin: 0 0.45rem 0 0;
}

.divider:after {
    margin: 0 0 0 0.45rem;
}

.shadow-box {
    transition: 0.2s ease-in-out;
}

.bg-purple {
    background-color: purple;
}

.text-purple {
    color: purple;
}

#scrolltoTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 255, 0.19);
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

#scrolltoTop:hover {
    background-color: rgba(0, 0, 255, 0.65);
}
/*Navbar*/
ul.navbar-nav.ml-auto a {
    color: #fff;
}

.dropdown-menu a {
    color: #9e9e9e !important;
    font-size: 0.85rem;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item.dropdown-wide {
    position: static;
}

.navbar .dropdown-wide .dropdown-menu.w-75 {
    margin-top: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
}

#mega-menu {
    padding: 1rem;
}

/*Form Styles*/
.form-control {
    border-radius: 20px !important;
}

.form-control:focus {
    border: 1px solid #9933cc !important;
    box-shadow: none !important;
}

::placeholder {
    font-size: 0.85rem !important;
    opacity: 0.5 !important;
}

/*Carousel Slide*/
.outer-slide {
    filter: blur(4px);
}

.inner-slide {
    bottom: 15%;
}

/*Index Page Styles*/
#section-info {
    background: url(./../images/tile.jpg) repeat;
}

/*Gallery Section*/
.gallery-item {
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.gallery-item img {
    display: block;
}

.gallery-item div.img-overlay {
    position: absolute;
    top: 100%;
    bottom: 0;
    right: 15px;
    left: 15px;
    padding: 2rem;
    background-color: rgba(234, 128, 252, 0.75);
    color: #fff;
    transition: top ease-in-out 0.25s;
}

.gallery-item:hover div.img-overlay {
    top: 0;
}

/*Latest News Section*/
.card-footer {
    padding-left: 0;
    padding-right: 0;
    margin-top: 1rem;
    background-color: transparent;
    border-radius: 0;
}

/*Footer*/
.footer.footer {
    background-color: #e0edf0;
}

hr.hr {
    border-top: 1px solid #fff;
}

.copyright {
    font-size: 0.9rem;
}

